@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (Session["id"] == null)
        {
        <li>@Html.ActionLink("Daftar", "Daftar", "Pengguna")</li>
        <li>@Html.ActionLink("Masuk", "Masuk", "Pengguna")</li>
        }
        else
        {
            <li><a>Halo, @Session["name"]</a></li>
            <li><a href="@Url.Action("Keluar","Pengguna")" onclick="return confirm('Apakah Anda yakin ingin keluar?');">(Keluar)</a></li>
        }
    </ul>
}
